

.hero {
  padding-top: 73px;
  padding-bottom: 536px;
  text-align: center;
  background-image:  url(../images/herobgs.png), url(../images/herobg.png);
  background-repeat: no-repeat;
  background-size:30px 108px, 1440px 800px;
  background-position: center calc(50% - 50px), center bottom;
  background-color: #49BCF1;
}





.hero__tittle {
  margin: 0;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  color: #FFFFFF;
}



@media only screen and (max-width:1440px) {
  .hero {
    background-size: 30px 108px, 100% 800px;
    
  }
  
  
}



@media only screen and (max-width:1025px) {
  .hero {
    background-size: 30px 108px, 1000px 600px;
    padding-top: 53px;
    padding-bottom: 536px;
    background-position: center calc(50% + 35px), center bottom;
    
  }
  
  
}



@media only screen and (max-width:886px) {
  .hero {
    padding-top: 56px;
    padding-bottom: 296px;
    text-align: center;
    background-image:  url(../images/herobgs.png), url(../images/herobg.png);
    background-repeat: no-repeat;
    background-size:30px 108px, 675px 438px;
    background-position: center calc(50% + 0px), center bottom;
    background-color: #49BCF1;
  }
  

  .hero-title {
    text-align: center;
  }
  
  .hero__tittle {
    width: 327px;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    margin: 0px auto;

  }
  
}



 